<h1 class='more'>Welcome to {{title}}</h1>

	<h1 class="text-center">Sign in here</h1>
	<div class="loginForm">
		<img class="loginForm" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120">
		<form class="quotes" action="/login" method="POST">
			<input type="text" name="username" class="textField" placeholder="Username" required="true" autofocus="true"></br>
			<input type="password" name="password" class="textField" placeholder="Password" required="true"></br>
			<div class="dot"></div></br>
			<button class="buttonGray" type="submit"> Sign in </button>
			<span class="clearfix"></span>
		</form>
	</div>
	<h1 class="text-center.error-message">{{message}}</h1>
