<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/jquery-ui.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/jquery-ui.min.js"></script>
    <script src="/javascripts/tab.js"></script>
    <script src="/javascripts/util.js"></script>
  </head>
  <body>
  	{{> header }}

    <content>
      {{{body}}}
    </content>

    {{> footer }}
  </body>
</html>
